*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  margin: 0 auto;
  background: #fff;
  font-family: 'Raleway', sans-serif;
}
.orbitron{
  font-family:'Orbitron', sans-serif;
}
.raleway{
  font-family: 'Raleway', sans-serif;
}
.row{
  display: flex;
  align-items: center;
}
.column{
  display: flex;
  flex-direction: column;
}
li {
  list-style-type: none;
}
.black{
  background-color: #0F0109;
}
.lemon{
  background-color: #CEFF03;
}
.violet{
  background-color: #3E346E;
}
.rose{
  background-color: #F90B8E;
}
.blue{
  background-color: #1BACFE;
}
.shadow-lemon{
  text-shadow: 0px 4px 4px rgba(206, 255, 3, 0.94);
}
.shadow-rose{
  text-shadow: 0px 4px 4px rgba(249, 11, 142, 0.94);
}
.shadow-blue{
  text-shadow: 0px 4px 4px rgba(27, 172, 254, 0.94);
}
.btn{
  border: none;
  text-decoration: none;
  cursor: pointer;
}
a{
  text-decoration: none;
}
input{
  width:100%;
  padding:15px;
  margin:5px;
  border-radius: 0.75em;
  border:1px solid #ccc;
  outline:none;
  caret-color:#1BACFE;
  outline:none;
}
input:focus {
 outline: 0;
}
form{
  margin-bottom: 10px;
}
/* Scrollbar */
body::-webkit-scrollbar {
  width: 0.2em;
}
body::-webkit-scrollbar-thumb {
  background-color: #3e346e;
}
/* Animation */
/* Background */
@keyframes mainPageWrapperAnimation {
  from{
      opacity: 0;
 }
  to{
      opacity: 1;
 }
}
/* Inscription */
@keyframes bounce {
  0% {
      transform: translateY(0);
 }
  50% {
      transform: translateY(-10px);
 }
  100% {
      transform: translateY(0);
 }
}
/* Lines */
@keyframes lineAnimation {
  from{
      left: -2em;
      opacity: 0%;
 }
  50%{
      left: 0.5em;
 }
  to{
      left: 0;
      opacity: 100%;
      animation-play-state: paused;
 }
}
/* title */
@keyframes main-page__titleAnimation{
  from{
      text-shadow: none;
 }
  to{
      text-shadow: 10px 10px 0px #CEFF03, 15px 15px 0px #F90B8E, 20px 20px 0px #1BACFE, 25px 25px 0px #fff700, 45px 45px 10px #3E346E;
 }
}
/* Button Menu */
@keyframes menu-barsAnimation{
  from{
      right: -5em;
 }
  to{
      right: 0em;
 }
}
/* MADE-BY */
.made-by{
  text-align: center;
  font-family:'Orbitron', sans-serif;
}
.made-by {
  text-decoration: none;
  list-style: none;
  color: #0F0109;
  width: 8%;
  height: 100%;
  font-family:'Orbitron', sans-serif;
  font-size: 20px;
  animation: floating 5s cubic-bezier(0.37, 0, 0.63, 1) infinite;
  z-index: 99998;
  margin-right: 50px;
  padding-top: 20px;
}
.tilte {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: tilting 10s cubic-bezier(0.37, 0, 0.63, 1) infinite;
  writing-mode: vertical-rl;
  letter-spacing: 1em;
}
.made-by span {
  transition: font-weight 0.4s ease-in;
  animation: floating-secondary 2.5s cubic-bezier(0.37, 0, 0.63, 1) infinite;
}
.made-by .tilte span:nth-child(even) {
  animation-delay: 1s;
}
.made-by .tilte span:nth-child(odd) {
  animation-delay: 2s;
}
.made-by span:hover {
  color: #CEFF03;
}
@keyframes floating {
 0% {
     transform: translate(0, 0);
 }
 50% {
     transform: translate(0, 0vh);
 }
 100% {
     transform: translate(0, 0);
 }
}
@keyframes floating-secondary {
 10% {
     transform: translate(0, 0);
 }
 50% {
     transform: translate(1vh, 0);
 }
 100% {
     transform: translate(0, 0);
 }
}
@keyframes tilting {
 0% {
     transform: rotate(1deg);
 }
 50% {
     transform: rotate(-1deg);
 }
 100% {
     transform: rotate(1deg);
 }
}
/*! MAIN PAGE */
.main-page__wrapper{
  background: url('./pages/img/backgroundMainPage.png');
  width: 100%;
  height: 100vh;
  position: static;
  display: flex;
  align-items: center;
  top: 0px;
  animation: mainPageWrapperAnimation 0.3s;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}
.indent{
  height: 100%;
  width: 12vw;
}
.columns-ul{
  height: 100%;
  position: fixed;
}
.columns{
  height: 100vh;
  position: inherit;
  width: 10px;
  margin-left: 10px;
  animation: lineAnimation 1s;
  opacity: 0;
  animation-fill-mode: forwards;
  position: relative;
}
.columns:nth-child(1){
  width: 19px;
  background-color: #0F0109;
  animation-delay: 0.6s;
}
.columns:nth-child(2){
  width: 30px;
  background-color: #CEFF03;
  margin-left: 5px;
  animation-delay: 0.5s;
}
.columns:nth-child(3){
  width: 9px;
  background-color: #0F0109;
  animation-delay: 0.4s;
}
.columns:nth-child(4){
  width: 10px;
  background-color: #CEFF03;
  margin-left: 17px;
  animation-delay: 0.3s;
}
.columns:nth-child(5){
  width: 27px;
  background-color: #3E346E;
  animation-delay: 0.2s;
}
.columns:nth-child(6){
  width: 10px;
  background-color: #F90B8E;
  margin-left: 6px;
  animation-delay: 0.5s;
}
.main-page__text{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-page__text ul{
  width: 100%;
  margin-top: 5%;
}
.main-page__text ul:nth-child(1) li:nth-child(1){
  margin-top: -10%;
  margin-left: 10%;
  animation: bounce 2.5s;
  animation-iteration-count:infinite;
  -moz-animation-iteration-count:infinite;
  -webkit-animation-iteration-count:infinite;
}
.main-page__text ul:nth-child(1) li:nth-child(2){
  margin-top: -20%;
  margin-right: 25%;
  animation: bounce 3s;
  animation-iteration-count:infinite;
  -moz-animation-iteration-count:infinite;
  -webkit-animation-iteration-count:infinite;
}
.main-page__text ul:nth-child(1) li:nth-child(3){
  margin-top: -13%;
  animation: bounce 2.7s;
  animation-iteration-count:infinite;
  -moz-animation-iteration-count:infinite;
  -webkit-animation-iteration-count:infinite;
}
.main-page__text ul:nth-child(3) li:nth-child(1){
  margin-bottom: -20%;
  margin-left: 5%;
  animation: bounce 3.2s;
  animation-iteration-count:infinite;
  -moz-animation-iteration-count:infinite;
  -webkit-animation-iteration-count:infinite;
}
.main-page__text ul:nth-child(3) li:nth-child(2){
  margin-bottom: -5%;
  animation: bounce 2.3s;
  animation-iteration-count:infinite;
  -moz-animation-iteration-count:infinite;
  -webkit-animation-iteration-count:infinite;
}
.main-page__text ul:nth-child(3) li:nth-child(3){
  margin-bottom: -19%;
  animation: bounce 2.5s;
  animation-iteration-count:infinite;
  -moz-animation-iteration-count:infinite;
  -webkit-animation-iteration-count:infinite;
}
.main-page__text ul:nth-child(2) li:nth-child(3){
  animation: bounce 2.5s;
  animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}
.main-page__title{
  font-size: 96px;
  line-height: 120px;
  text-shadow: 10px 3px 4px #CEFF03;
}
.main-page__subtext{
  font-size: 36px;
  font-weight: bold;
  margin-right: 10%;
  animation: bounce 2.6s;
  animation-iteration-count:infinite;
  -moz-animation-iteration-count:infinite;
  -webkit-animation-iteration-count:infinite;
}
.main-page__title {
  transition: all 0.5s;
  -webkit-text-stroke: 2px #0F0109;
  font-weight: normal;
  font-variation-settings: "wght" 900, "ital" 1;
  text-align: center;
  color: transparent;
  text-shadow: 10px 10px 0px #CEFF03, 15px 15px 0px #F90B8E, 20px 20px 0px #1BACFE, 25px 25px 0px #fff700, 45px 45px 10px #3E346E;
  cursor: pointer;
  animation: main-page__titleAnimation 0.5s;
}
.main-page__title:hover {
  font-variation-settings: "wght" 100, "ital" 0;
  text-shadow: none;
}
/* NAVBAR MAINPAGE */
.menu-bars{
  width: 80px;
  height: 70px;
  padding: 25px 18px;
  background: #0F0109;
  text-align: center;
  position: fixed;
  border-radius: 4px;
  top: 5.5%;
  right: 0;
  transform: translateY(-50%);
  z-index: 99999;
  transition: .5s;
  animation: menu-barsAnimation 0.5s;
}
.menu-bars:hover {
  transition: .5s;
}
.menu-bars.active .menu-bars__line:nth-child(1) {
  transform: translateY(10px) rotate(45deg) translateZ(0);
}
.menu-bars.active .menu-bars__line:nth-child(2) {
  transform: scaleX(0) translateZ(0);
}
.menu-bars.active .menu-bars__line:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg) translateZ(0);
}
.menu-bars__line {
  width: 45px;
  height: 2px;
  background: #CEFF03;
  display: block;
  transition: all .4s cubic-bezier(.215,.61,.355,1);
}
.menu-bars__line:nth-child(2) {
  margin: 8px auto;
  width: 33px;
}
.nav-menu__wrapper{
  background: url('./pages/img/nav-menu__wrapper.png');
  width: 27%;
  height: 100%;
  top: 0px;
  left: 0;
  position: absolute;
  z-index: -2;
}
.nav-menu {
  background-color: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  transition: 850ms;
  z-index: 99998;
  .btn__clickable{
    color: red;
    height: 44px;
    margin: 5px
  }
}
.nav-menu.active {
  transform: translateY(0%) translateZ(0);
}
.nav-menu-items {
  width: 100%;
}
.nav-text {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 210px;
  list-style: none;
  height: 100px;
}
.nav-text a {
  text-decoration: none;
  color: #0F0109;
  font-size: 70px;
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
  border-radius: 4px;
  transition: all 1s ease;
  position: relative;
}
.nav-text a:after {
  border-radius: 10px;
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background-color: #CEFF03;
  transition: all .3s ease;
}
.nav-text a:hover:after {
  left: 0;
  width: 100%;
}
.nav-text a:active {
  top: 2px;
}
/* CONTENT */
.contentBox{
  width: 80%;
  height: 100%;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 3%;
  font-size: 2em;
  color: black;
  transition: all .8s ease;
}
.contentBox-body{
  margin-left:20px;
}
.imageDiv{
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 300px;
  cursor:pointer;
  background: url('./pages/img/people.jpg');
  height: 100vh;
  position: static;
  display: flex;
  align-items: center;
  top: 0px;
  animation: mainPageWrapperAnimation 0.3s;
  background-size: cover !important;
  background-attachment: fixed !important;
  background-position: center center !important;
}
.imageDivMarketing{
  background: url('./pages/img/people.jpg');
}
.imageDivAnimation{
  background: url('./pages/img/animation.jpg');
}
.imageDivAutoDesk{
  background: url('./pages/img/autodesk.jpg');
}
.imageDivAngl{
  background: url('./pages/img/angl.jpg');
}
.imageDivGame{
  background: url('./pages/img/game.jpg');
}
.imageDivUnity{
  background: url('./pages/img/unity.jpg');
}
.imageDivDigital{
  background: url('./pages/img/digital.jpg');
}
.imageDivMinecraft{
  background: url('./pages/img/minecraft.jpg');
}
.contentBox-text{
  font-size: 40px;
  font-weight: normal;
}
.contentBox h3{
  color: #F90B8E;
}
.headerText{
  font-size: 2em;
  transform: translate(0px, 120%);
  opacity: 0;
  margin-left: 50px;
}
.contentSubText{
  margin-left: 50px;
  font-size: 25px;
}
.contentPoint{
  margin-top: 40px;
  margin-left: 50px;
  font-weight: 900;
}
.contentStartButton{
  margin-left: auto;
  margin-right: auto;
  width: 200px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* MODAL ADMIN*/
.admin{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.modal {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  pointer-events: none;
  z-index: 10;
}
.modal.active {
  opacity: 1;
  pointer-events: all;
}
.modal-content {
  margin: auto;
  width: 800px;
  padding: 20px;
  background-color: #d9e0e9;
  transform: scale(0.5);
  border-radius: 15px;
  box-shadow: 4px 0px 65px #0F0109;
  transition: 0.4s all;
}
.modal-content.active {
  transform: scale(1);
}
.modal-body {
  select {
      padding: 16px 20px;
      border: none;
      border-radius: 4px;
      background-color: rgb(229, 229, 229);
      cursor: pointer;
      margin-bottom: 5px;
 }
  input {
  background-color: #d9e0e9;
  border-color: #9b9b9b;
  margin: 1px;
  margin: 5px 0;
 }
  input[type=text] {
      padding: 12px 10px;
      box-sizing: border-box;
      border-color: #9b9b9b;
 }
  input[type=file] {
      border:none;
 }
  h3{
   margin-bottom: 20px;
 }
  h4{
      margin: 10px 0;
 }
  form{
      margin-bottom: 10px;
 }
  textarea {
      width: 100%;
      height: 100px;
      padding: 12px 20px;
      box-sizing: border-box;
      border: 2px solid #ccc;
      border-radius: 4px;
      font-size: 16px;
      resize: none;
 }
}
/* Registration style */
*,*:before,*:after{
 box-sizing:border-box
}
.container{
  background: url('./pages/img/backgroundMainPage.png');
  height: 100vh;
}
.login-form_container{
  position:absolute;
  width:100%;
  height:100%;
  overflow:hidden;
  background-color: white;
  &:hover,&:active{
      .login-form_top, .login-form_bottom{
          &:before, &:after{
              margin-left: 200px;
              transform-origin: -200px 50%;
              transition-delay:0s;
         }
     }
      .login-form_center{
          opacity:1;
          transition-delay:0.2s;
     }
 }
}
.login-form_top, .login-form_bottom{
  &:before, &:after{
      content:'';
      display:block;
      position:absolute;
      width:200vmax;
      height:200vmax;
      top:50%;
      left:50%;
      margin-top:-100vmax;
      transform-origin: 0 50%;
      transition:all 0.5s cubic-bezier(0.445, 0.05, 0, 1);
      z-index:10;
      opacity:0.65;
      transition-delay:0.2s;
 }
}
.login-form_top{
  &:before{
     transform:rotate(45deg);
     background:#F90B8E;
 }
  &:after{
     transform:rotate(135deg);
     background:#fff700;
 }
}
.login-form_bottom{
  &:before{
     transform:rotate(-45deg);
     background:#FF1493;
 }
  &:after{
     transform:rotate(-135deg);
     background:#1BACFE;
 }
}
.login-form_center{
  position:absolute;
  width:400px;
  height:400px;
  top:50%;
  left:50%;
  margin-left:-200px;
  margin-top:-200px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:30px;
  opacity:0;
  transition:all 0.5s cubic-bezier(0.445, 0.05, 0, 1);
  transition-delay:0s;
  color:#333;
  .row{
      width: 100%;
 }
  a{
      width: 100%;
 }
}
// Button 
button.btn__clickable{
  width:100%;
  padding:15px;
  border-radius:1px;
  cursor: pointer;
  font-weight: 600;
  color: #382b22;
  text-transform: uppercase;
  background: rgb(223, 223, 223);
  border: 2px solid #ccc;
  border-radius: 0.75em;
  transition: transform 0.15s;
  transform-style: preserve-3d;
}
button.btn__clickable::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(229, 229, 229);
  border-radius: inherit;
  box-shadow: 0 0 0 2px #ccc, 0 0.625em 0 0 rgb(237, 237, 237);
  transform: translate3d(0, 0.75em, -1em);
  transition: transform 0.15s, box-shadow 0.15s;
}
button.btn__clickable:hover {
  background: rgb(241, 241, 241);
  transform: translate(0, 0.25em);
}
button.btn__clickable:hover::before {
  box-shadow: 0 0 0 2px #ccc, 0 0.5em 0 0 rgb(237, 237, 237);
  transform: translate3d(0, 0.5em, -1em);
}
button.btn__clickable:active {
  background: rgb(241, 241, 241);
  transform: translate(0em, 0.75em);
}
button.btn__clickable:active::before {
  box-shadow: 0 0 0 2px #ccc, 0 0 rgb(237, 237, 237);
  transform: translate3d(0, 0, -1em);
}
.btn__delete{
  color: red;
  width: 9%;
  font-weight: 900;
  height: 41px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 2px;
  border: 0.1px solid;
  background-color: rgb(223, 223, 223);
}

// LOADING 
.loading-body{
  background-color: #CEFF03;
  width: 100%;
  height: 100%;
  position: absolute;
}
.loading {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color:#1BACFE;
}
.loading-text{
  font-size: 100px;
  letter-spacing: 10px;
  line-height: 1;
  mix-blend-mode: difference;
}
.loading::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 30px;
  height: 100%;
  background-color:#CEFF03;
  animation: move 5s ease-in infinite;
}
@keyframes move {
  0%{
      left: 0;
 }
  50% {
      left: 50%;
 }
  90%{
      left: 90%;
 }
  100%{
      left:100%;
 }
}
//SHOP 
.type-bar{
  margin: 50px 0px;
}
.filter{
  height: 100%;
  background-color: rgb(234 241 246 / 82%);
}
.filter h3{
  font-family: 'Open Sans',Arial,Helvetica,Verdana,sans-serif;
  margin-left: 10px;
}
.values-filter__header{
  font-weight: 900;
}
.values-filter{
  font-size: 12px;
  padding: 0.5rem;
  color: #212529;
  border: 0.1px solid #0f010936;
  cursor: pointer;
  width: 100%;
  font-weight: 700;
  text-align: center;
}
.shop{
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 19% 81%;
  background: url('./pages/img/backgroundMainPage.png');
  min-height: 100vh;
}
@keyframes typeBar {
  from{
      left: -2em;
      opacity: 0%;
 }
  to{
      left: 0;
      opacity: 100%;
      animation-play-state: paused;
 }
}
@keyframes areaBar {
  from{
      opacity: 0%;
 }
  to{
      opacity: 100%;
 }
}
/* Course, Card */
.course-list{
  margin-left: 50px;

}
.course-list_container{
  margin-top: 40px;
  width: 855px;
  display: grid;
  grid-template-columns: repeat(4, 260px);
  gap: 15px;
}
.card{
  cursor: pointer;
  position:relative;
  width: 260px;
  height: 300px;
  font-weight: 900;
  background: url('./pages/img/people.jpg') center no-repeat;
  background-size: cover;
  border-radius: 20px;
  overflow: hidden;
  transition: all .5s ease-in-out;
  filter: brightness(75%);
}
.card-content{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 20px;
  border-top-left-radius: 20px;
  transform: translateY(70px);
  transition: transform .25s;
  display: flex;
  text-align: left;
  font-size: 13px;
  background-color: #CEFF03;
}
.card-content::before{
  content: "";
  position: fixed;
  top: -47px;
  right: -45px;
  width: 100px;
  height: 100px;
  transform: rotate(-175deg);
  border-radius: 50%;
  box-shadow: inset 48px 48px #CEFF03;
}
.card-title{
  color:#0F0109;
  line-height: 15px;
}
.card-subtitle{
  display: block;
  font-size: 12px;
  margin-bottom: 10px;
}
.card-description{
  font-size: 14px;
  opacity: 0;
  transition: opacity .5s;
}
.card:hover{
  filter: none 
}
.card:hover .card-content{
  transform: translateY(0);
}
.card:hover .card-description{
  opacity: 1;
  transition-delay: .5s;
}
//Basket, course-page
.course-page{
  padding: 30px 10px;
  font-family: 'Open Sans Condensed',franklingothicdemicondcRg,Arial,Helvetica Neue,Helvetica,sans-serif;
  h1{
    font-weight: 900;
  }
  img{
    max-width: 50%;
    max-height: 100%;
    border-radius: 20px;
  }
  h2{
    margin: 10px;
  }
  button{
    width: 300px;
    margin: 10px;
  }
}

.basket{
  width: 90%;
  margin: 40px auto auto;
  background-color: rgba(255, 255, 255, 0.698);
  padding: 8px 15px;
  border: 2px solid grey ;
  font-family: 'Kdam Thmor Pro';
  .row{
    justify-content: space-between;
    margin: 0px 8px 0px 4px;
    font-size: 25px;
  }
}
.basket-body{
  font-size: 16px;
  padding: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 0.9px solid rgba(20, 20, 19, 0.4901960784);
}
.basket_total-price{
  display: flex;
  justify-content: flex-end;
  padding: 10px 0px 0px 0px;
}

.container .btn__clickable{
  margin-top: 30px;
}

.pagination a {
  color: black;
  cursor: pointer;
  font-weight: 900;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  background-color: rgb(151 165 207);
  border-radius: 5px;
  margin: 20px 5px;
}
.pagination a:hover {
  background-color: #CEFF03;
}
.pagination a:active {
  background-color: #000000;
  color: white;
}

/* MEDIA */
@media (min-width: 1550px) {
  .main-page__title{
     font-size: 110px;
 }
}
@media (max-width: 1550px) {
  .main-page__title{
     font-size: 100px;
 }
  .main-page__subtext{
     font-size: 22px;
 }
}
@media (max-width: 1200px) {
  .main-page__title{
     font-size: 50px;
 }
}
@media (max-width: 767px) {
  .main-page__wrapper {
      background: url('./pages/img/backgroundMainPage.png');
 }
  .main-page__title{
     font-size: 30px;
 }
}
